.text-map {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #fff;
}

.latitude-longitude-details {
  display: flex;
  flex-direction: row;
  /* padding: 16px; */
  align-items: center;
  justify-content: space-between;
}

.latitude-text,
.longitude-text {
  font-size: 1em;
  display: flex;
  flex-direction: column;
}

.current-location {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.current-location-summary {
  font-size: 1.0em;
  font-weight: bold;
}
.current-location-details {
  background: #fff;
  padding: 16px;
  font-size: 1em;
  font-weight: bold;
}

.hidden {
  display: none;
}